.login{
    border: 5px solid #247DD9;
    width:400px;
    padding: 30px;
    margin-top: 40px;
    position: relative;
    left: 400px;
    font-size: 25px;
    font-weight: bolder;
    color: #247DD9;
    padding-left: 75px;
    box-shadow:5px 12px 25px grey;
}
#s1{
    padding-left: 20px;
}
#usrt{
    margin-top: -12px;
    font-size: 20px;
    color: #247DD9;
    background: white;
    border: 3px solid #247DD9;
    width: 150px;
    margin-left: 15px;
    padding-left: 5px;
    box-shadow:1px 5px 7px #247DD9;
}
.input{
    border: 3px solid #247DD9;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 25px;
    margin: 20px;
}
.btn{
    background-color: #247DD9;
    border: 0;
    border-radius: 3px;
    height: auto;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    margin-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
    padding-top:10px;
    margin-left:20px;
    box-shadow:5px 12px 25px #247DD9;
}
#new{
    font-size: 20px;
    color: #247DD9;
    font-style: normal;
    text-decoration: none;
    display: block;
    margin-top: 30px;
    margin-left: 550px;
}